/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --txt-white: #fff;
  --txt-black: #000;
  --flex: flex;
  --flex-col: column;
  --justify-center: center;
  --justify-between: space-between;
  --items-center: center;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.btn-white {
  display: var(--flex);
  justify-content: var(--justify-center);
  align-items: var(--items-center);
  font-family: "Graphik LCG", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  border-radius: 0;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1px 35px;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.btn-white:hover {
  background-color: #ff6336;
  color: #fff;
  transition: 0.3s ease;
}

.btn-orange {
  display: var(--flex);
  justify-content: var(--justify-center);
  align-items: var(--items-center);
  font-family: "Graphik LCG", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  border-radius: 0;
  color: #fff;
  background-color: #ff6336;
  border: none;
  padding: 1px 26px;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.btn-orange:hover {
  background-color: #fff;
  color: #ff6336;
  border: 1px solid #ff6336;
  transition: 0.3s ease;
}

.btn-black {
  display: var(--flex);
  justify-content: var(--justify-center);
  align-items: var(--items-center);
  font-family: "Graphik LCG", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  border-radius: 0;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 1px 26px;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.btn-black:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.article-btn-white {
  display: var(--flex);
  justify-content: var(--justify-center);
  align-items: var(--items-center);
  font-family: "Graphik LCG", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  border-radius: 0;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1px 29px;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.article-btn-white:hover {
  background-color: #ff6336;
  color: #fff;
  transition: 0.3s ease;
}

.article-btn-orange {
  display: var(--flex);
  justify-content: var(--justify-center);
  align-items: var(--items-center);
  font-family: "Graphik LCG", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  border-radius: 0;
  color: #fff;
  background-color: #ff6336;
  border: none;
  padding: 1px 44px;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG/Graphik LCG-Regular.ttf") format "truetype";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.article-btn-orange:hover {
  background-color: #fff;
  color: #ff6336;
  border: 1px solid #ff6336;
  transition: 0.3s ease;
}

.flex {
  display: var(--flex);
}

.page-full {
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: calc(1290px + 25px * 2);
  padding: 0 25px;
  margin: 0 auto;
}

.header__nav {
  padding-top: 2.1875rem;
  padding: 2.1875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.img-logo {
  margin-right: 3.1875rem;
}

.navbar-nav .nav-link {
  color: #000;
  margin-right: 1.875rem;
}

.nav-link:hover {
  color: #ff6336;
  transition: 0.3s ease;
}

.main {
  padding: 60px 0;
}

.block-img {
  width: 100%;
}

.article-wrap {
  margin-top: 2.5rem;
}

.article {
  max-width: 34.5rem;
}
.article__h1 {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 4.375rem;
  margin-bottom: 2.5rem;
}
.article__txt {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 1.5625rem;
  line-height: 2.1875rem;
  padding-bottom: 2.5rem;
}
.article__buttons {
  padding-bottom: 0.9375rem;
}

.article__txt-second {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  padding-bottom: 2.5rem;
}

.section-brands {
  background-color: #ff9c7d;
  padding-top: 6.125rem;
}

.section-brands__title-h2 {
  max-width: 45rem;
}

.section-brands__title {
  color: #000;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 3.75rem;
  margin-bottom: 4.375rem;
}

.section-brands__logos {
  margin-bottom: 5.875rem;
}

.section-gif__content {
  max-width: 30.875rem;
}
.section-gif__content .section-gif__h2 {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 3.75rem;
}
.section-gif__content .section-gif__txt {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
}
.section-gif__content .link-black {
  color: #000;
  text-decoration: underline;
}

.section-gif__link {
  color: #000;
  font-size: 1.25rem;
  font-family: "Graphik LCG", sans-serif;
  font-weight: 600;
  line-height: 1.875rem;
}
.section-gif__link:hover {
  color: #000;
  text-decoration: underline;
}

.section-gif__deep-orange {
  background-color: #fff8e4;
  min-height: 36.0625rem;
}

.section-gif__white-wrap {
  background-color: #fff;
  max-width: 31.25rem;
  width: 100%;
  height: 18.75rem;
}

.section-gif__white {
  background-color: #fff;
  max-width: 25rem;
  width: 100%;
  height: 14.125rem;
}

.section-gif__txt-wrap {
  max-width: 28.9375rem;
  width: 100%;
}
.section-gif__txt-wrap .txt-php {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.section-cards {
  background-color: #fff8e4;
  padding: 60px 0;
}
.section-cards__h2 {
  color: #000;
  text-align: center;
  font-family: "Graphik LCG", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
.section-cards__h4 {
  color: #000;
  text-align: center;
  font-family: "Graphik LCG", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
}
.section-cards__txt {
  color: #000;
  text-align: center;
  font-family: "Graphik LCG", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.section-cards__link {
  color: #000;
  font-size: 1.25rem;
  font-family: "Graphik LCG", sans-serif;
  font-weight: 400;
  line-height: 1.5625rem;
}
.section-cards__link:hover {
  color: #000;
  text-decoration: underline;
}

.section-cards-2 {
  padding: 60px 0;
}

.section-cards-2__h2 {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.section-cards-2__h3 {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.section-cards-2__txt {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.section-cards-2__link {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.875rem;
}
.section-cards-2__link:hover {
  color: #ff6336;
  text-decoration: underline;
  text-transform: 0.3s ease;
}

.section-content-wrap {
  background-color: #c9e8f2;
  padding-top: 3.3125rem;
  padding-bottom: 3.3125rem;
}
.section-content-wrap .section-content-wrap__txt {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 23px;
}
.section-content-wrap .section-content-wrap__txt-2 {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 5px;
}

.section-content-wrap-2 {
  background-color: #dabc98;
  padding-top: 5.5625rem;
  padding-bottom: 5.25rem;
}

.section-content-wrapper {
  padding-left: 70px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
}

.section-content-wrap-2__h3 {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  line-height: 50px;
}

.section-content-wrap-2__block {
  margin-right: 70px;
}

.section-work-tools__h2 {
  color: #000;
  text-align: center;
  font-family: "Graphik LCG", sans-serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
}

.section-work-tools__txt {
  color: #000;
  text-align: center;
  font-family: "Graphik LCG", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}

.section-work-tools__btn {
  max-width: 12.5rem;
}

.section-deep-orange {
  background-color: #ff9c7d;
}

.section-deep-orange__h2-wrap {
  max-width: 49rem;
  width: 100%;
}

.section-deep-orange__h2 {
  color: #000;
  text-align: center;
  font-family: "Graphik LCG", sans-serif;
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 4.6875rem;
}

.section-deep-orange__txt {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.footer-nav__wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.footer-nav__h3 {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.125rem;
}

.footer-nav__txt {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.footer-nav__btn {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
}
.footer-nav__btn:hover {
  text-decoration: underline;
}

.footer-nav__h6 {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5625rem;
}

.footer-nav__list a {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 0.9375rem;
}
.footer-nav__list a:hover {
  color: #ff6336;
  text-transform: 0.3s ease;
}

.footer-bottom__lokalise-txt-wrap {
  max-width: 18.8125rem;
  width: 100%;
}

.footer-bottom__localise-icon {
  margin-right: 0.875rem;
}

.footer-bottom__lokalise-txt {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.9375rem;
}

.footer-bottom__rights-reserved-txt {
  color: #000;
  font-family: "Graphik LCG", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.9375rem;
}/*# sourceMappingURL=main.css.map */